* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --base-font-dark-clr: #292524;

  --cta-accent-clr: #fef3c7;
  --cta-accent-clr-dark: #b45309;
  --dark-green: #047857;

  /* Widths */
  --base-container-width: 80rem;
}

body,
h1,
h2,
h3,
textarea,
input,
button,
a {
  font-family: 'Segoe UI', sans-serif;
  color: var(--base-font-dark-clr);
}