.home__collection-card__inner-container {
    width: var(--base-container-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 18rem;
}

.home__collection-card__fig {
    border-radius: 50%;
}

.home__collection-card:nth-of-type(odd) {
    padding: 9rem 0;
}

.home__collection-card:nth-of-type(even) {
    padding: 9rem 0;
    background-color: var(--light-warm-grey);
}

.home__collection-card:nth-of-type(even) .home__collection-card__article {
    order: -1;
}

.home__collection-card__fig__img {
    display: block;
    width: 20rem;
    height: 20rem;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}

.home__collection-card__article__badge {
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: none;
    background-color: var(--cta-accent-clr);
    color: var(--cta-accent-clr-dark);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.home__collection-card__article__title {
    margin-bottom: .5rem;
}

.home__collection-card__article__desc {
    margin-bottom: 1.5rem;
}

.home__collection-card__article__cta-btn-link-wrapper {
    text-decoration: none;
}

.home__collection-card__article__cta-btn {
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-green);
    text-transform: uppercase;
    letter-spacing: .08em;
    border: none;
    cursor: pointer;
    background: none;
}