.product-main-wrapper {
    width: var(--base-container-width);
    margin: 0 auto;
}

.product__grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1.5rem;
}

.product__fig__img {
    display: block;
    width: 100%;
    height: auto;
}