.home-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dev-project/image/upload/v1625242585/evergreen-app/leaf-rain-bg_modldu.jpg");
}

.home-hero__section {
    grid-column: 2 / 3;
    width: var(--base-container-width);
    display: flex;
    justify-content: flex-end;
}

.home-hero__title__span {
    display: block;
    font-size: 3.5rem;
}