.home-hero__section {
    grid-column: 2 / 3;
    width: var(--base-container-width);
    display: flex;
    justify-content: flex-end;
}

.home-hero__title__span {
    display: block;
    font-size: 3.5rem;
}

.arrow-icon--down {
    display: block;
    margin-left: auto;
}