.order {
    margin-bottom: 1rem;
    padding: 2.5rem 4rem;
    max-width: 55rem;

    background-color: var(--light-warm-grey);
}

.order__descriptor-group {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}